
.make-active {
    font-weight: bold;
}

.gallery-container {
    cursor: pointer;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 800px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-image-single {
    position: relative;
}

.delete-icon {
    position: relative;
    bottom: 50px;
    left: 10%;
    display: none;
}

.gallery-image-single:hover .delete-icon {
    display: block;
}