.make-active {
    font-weight: bold;
}

.gallery-container {
    cursor: pointer;
}

.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 800px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}