<div class="toggle-options">
    <md-button class="md-primary md-raised" ng-click="app.toggleLinear();">Toggle Linear</md-button>
    <md-button class="md-primary md-raised" ng-click="app.toggleAlternative();">Toggle Alternative</md-button>
    <md-button class="md-primary md-raised" ng-click="app.showError();">Show error</md-button>
    <md-button class="md-primary md-raised" ng-click="app.clearError();">Clear error</md-button>
</div>

<md-steppers id="campaign-stepper" md-linear="app.isLinear" md-alternative="app.isAlternative" md-card>
    <md-stepper md-label="Select a campaign" md-editable="true">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
    </md-stepper>

    <md-stepper md-label="Create an group" md-editable="true" md-edit="app.edit()">
        <md-input-container>
            <label>Username</label>
            <input type="text" ng-model="user.name">
        </md-input-container>

        <md-input-container>
            <label>Email</label>
            <input type="email" ng-model="user.email">
        </md-input-container>

        <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="user.password">
        </md-input-container>

        <md-input-container>
            <label>Confirm password</label>
            <input type="password" ng-model="user.confirmPassword">
        </md-input-container>
    </md-stepper>

    <md-stepper md-label="Create an ad" md-editable="true">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
    </md-stepper>

    <md-stepper md-label="Publish the ad" md-editable md-optional="Optional">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nobis saepe facere suscipit atque, sapiente, natus mollitia ipsum odit accusamus repellendus deserunt. Odio sit similique, labore maxime voluptatibus, eaque autem!</p>
    </md-stepper>

    <md-steppers-actions>
        <md-button class="md-primary" ng-click="app.previousStep();">Back</md-button>
        <span flex></span>

        <md-button ng-click="app.cancel();">Cancel</md-button>
        <md-button class="md-primary" ng-click="app.nextStep();">Next</md-button>
    </md-steppers-actions>
</md-steppers>