<div ng-include="global.navUrl"></div>
<div class="alert alert-success" id="success-alert" ng-show="messages">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong>
    {{messages}}
</div>
<div class="row" >
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th class="text-center">Price</th>
                <th class="text-center">Subtotal</th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td class="col-sm-6 col-md-4">
                    <div class="media">
                        <a class="thumbnail" href="#" style="margin-right: 5px; width: 72px; height: 82px;">
                            <img class="media-object" src="{{item.options.productImage}}"
                                 style="width: 72px; height: 72px;">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">{{item.name}}</a></h4>
                            <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                            <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                        </div>
                    </div>
                </td>

                <td class="cart_quantity">
                    <div class="cart_quantity_button">
                        <a class="cart_quantity_up" href="" ng-click="updateCartItem(item.rowId, 1)"> + </a>
                        <input class="cart_quantity_input" type="text" name="quantity" value="{{item.qty}}" autocomplete="off" size="2">
                        <a class="cart_quantity_down" href="" ng-click="updateCartItem(item.rowId, -1)"> - </a>
                    </div>
                </td>
                <!--<td class="col-sm-1 col-md-1" style="text-align: center">-->
                     <!--<input type="email" class="form-control" id="exampleInputEmail1" value="{{item.qty}}">-->
                <!--</td>-->
                <td class="col-sm-2 col-md-2 text-center"><strong>$ {{item.price}}</strong></td>
                <td class="col-sm-1 col-md-1 text-center"><strong>$ {{item.subtotal}}</strong></td>
                <td class="col-sm-1 col-md-1">
                    <button class="btn btn-info btn-sm" ng-click="UpdateItemCart(item.rowId)">
                           <i class="fa fa-refresh"></i></button>
                    <button class="btn btn-danger btn-sm" ng-click="deleteItemCart(item.rowId)">
                           <i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
            <tr>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td><h5>Total</h5></td>
                <td class="text-right"><h5><strong>$ {{subtotal}}</strong></h5></td>
            </tr>
            <tr>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td><h5>Estimated shipping</h5></td>
                <td class="text-right"><h5><strong>$6.94</strong></h5></td>
            </tr>
            <tr>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td><h3>Total</h3></td>
                <td class="text-right"><h3><strong>$ {{}}</strong></h3></td>
            </tr>
            <tr>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-success">
                        Checkout <span class="glyphicon glyphicon-play"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script>
        window.setTimeout(function () {
            $(".alert-success").fadeTo(1000, 0).slideUp(1000, function () {
                $(this).remove();
            });
        }, 5000);
    </script>