<div ng-include="global.navUrl"></div>
<div class="row">
    <div class="col-md-12">
        <!-- The time line -->
        <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-red">
                    ۱۲ اردیبهشت ۱۳۹۴
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-envelope bg-blue"></i>

                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                    <h3 class="timeline-header"><a href="#">تیم پشتیبانی</a> یک ایمیل برای شما ارسال کرد</h3>

                    <div class="timeline-body">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </div>
                </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
                <i class="fa fa-user bg-aqua"></i>

                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 5 دقیقه پیش</span>

                    <h3 class="timeline-header no-border"><a href="#">سارا</a> درخواست دوستی شما را قبول کرد</h3>
                </div>
            </li>
            <!-- END timeline item -->
            <i class="fa fa-clock-o bg-gray"></i>
            </li>
        </ul>
    </div>
    <!-- /.col -->
</div>

<div class="container col-md-6">
    <div ng-init="loadCountry()">
        <h3 align="center">AngularJS Autocomplete Textbox</h3>
        <label>Enter Country Name</label>
        <input type="text" name="country" id="country" ng-model="country" ng-keyup="complete(country)"
               class="form-control"/>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="countrydata in filterCountry"
                ng-click="fillTextbox(countrydata.product_name)">
                <img src="{{countrydata.product_pic}}" width="20" height="20" style="border-radius: 3px;"/>
                {{countrydata.product_name}}
            </li>
        </ul>
        {{country}}
    </div>
</div>
