<nav class="navbar navbar-inverse" ng-controller="navController">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!">WebSiteName {{user.name}}</a>

        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#!">Home</a></li>
            <li><a href="#!dashboard">Dashboard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-hide="user">
            <li><a href="#!register"><span class="fa fa-sign-in"></span> Sign Up</a></li>
            <li><a href="#!login"><span class="fa fa-lock"></span> Login</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" ng-show="user">
            <li><a href="#!home"><span class="fa fa-sign-out" ng-click="doLogout()"></span> Logout</a></li>
            <li><a href="#!profile"><span class="fa fa-user"></span> {{user.name}}</a></li>
        </ul>
    </div>
</nav>